<!DOCTYPE html>
<html>
<head>
	<%- include common/meta.ejs %>
	<title>地图导航</title>
	<link rel="stylesheet" type="text/css" href="css/map.css">
</head>
<body>
	<div id="wrapper" class="container">
		<div id="map" class="" style="height:100%;"></div>
	</div>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vQNwv18ZRLKmZIRiirNegCW6T9692WaK"></script>
	<script type="text/javascript" src='js/bd-map.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			moka.bdmap.init();
		});
	</script>
</body>
</html>
