<!DOCTYPE html>
<html>
<head>
	<%- include common/meta.ejs %>
	<title>忘记密码</title>
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
	<div id="wrapper" class="container">
		<div class="top-bar">找回密码</div>
		<div class="login-container">
			<div class="input-line">
				<span class="ico ico-phone"></span>
				<input name="username" placeholder="请输入注册手机号">
			</div>
			<div class="input-line code-line">
				<span class="ico ico-msg"></span>
				<input name="code" placeholder="请输入接收的验证码">
				<span class="btn-code">获取验证码</span>
			</div>
			<div class="input-line">
				<span class="ico ico-lock"></span>
				<input name="password" type="password" placeholder="请输入新密码">
			</div>
			<div class="input-line">
				<span class="ico ico-lock"></span>
				<input name="repassword" type="password" placeholder="请重复输入新密码">
			</div>
			<div class="btn-login">确定</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
		
		});
	</script>
</body>
</html>
