<!DOCTYPE html>
<html>
<head>
	<%- include common/meta.ejs %>
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
	<div id="wrapper" class="container">
		<div class="top-bar">登录</div>
		<div class="login-container">
			<div class="input-line">
				<span class="ico ico-user"></span>
				<input name="username" placeholder="用户名&nbsp;/&nbsp;手机号&nbsp;/&nbsp;邮箱">
			</div>
			<div class="input-line">
				<span class="ico ico-lock"></span>
				<input name="password" type="password" placeholder="请输入密码">
			</div>
			<div class="btn-login">登录</div>
			<div class="oper-other">
				<a href="register" class="btn-register">注册</a>
				<a href="forget" class="btn-forget">忘记密码</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
		
		});
	</script>
</body>
</html>
