<!DOCTYPE html>
<html>
<head>
	<%- include common/meta.ejs %>
	<title>地图导航</title>
	<link rel="stylesheet" type="text/css" href="css/map.css">
</head>
<body>
	<div id="wrapper" class="container">
		<div class="msg-box"></div>
		<div id="map_panel" class="map-panel">
			<div id="map_box" class="map-box">
				<img src="img/map/map.png">
			</div>
			<a class="btn-list" href="spot/list"></a>
			<div class="ico-wrapper">
				<span class="ico zoom-in" ></span>
				<span class="ico zoom-out disabled" ></span>
			</div>
			<!-- <span class="btn-list" ></span> -->
		</div>
	</div>
	<script type="juicer/javascript" id="pos-tpl">
		{@each list as obj, index}
			<span class="pos" style="${obj.pos}" data-sid="${obj.sid}"></span>
		{@/each}
	</script>
	
	<script type="text/javascript" src='js/lib/touch.min.js'></script>
	<script type="text/javascript" src='js/map.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			moka.map.init();
		});
	</script>
</body>
</html>
