<!DOCTYPE html>
<html>
<head>
	<%- include common/meta.ejs %>
	<title>兑换规则</title>
	<style type="text/css">
		.container{background-color: #ffffff;}
		.rule-container{padding-top: 0.3rem;}
		.rule-container dl{
			height: 0.6rem;
			line-height: 0.6rem;
			font-size: 0.28rem;
			text-align: left;
			color: #363636;
			padding: 0 0.2rem;
		}
	</style>
</head>
<body>
	<div id="wrapper" class="container">
		<div class="rule-container">
			<dl>1.兑换积分必须大于商品积分才能兑换</dl>
			<dl>2.兑换积分必须大于商品积分才能兑换</dl>
			<dl>3.兑换积分必须大于商品积分才能兑换兑换积分必须大于商品积分才能兑换</dl>
		</div>
	</div>
</body>
</html>
