.spot-list{
	padding: 0.2rem;
	background-color: #f6f6f6;
}

.spot-list li{
	line-height: 1.4rem;
	height: 1.4rem;
	padding: 0 0.4rem 0 1.4rem;
	position: relative;
	background-color: #ffffff;
	margin-bottom: 0.2rem;
}

.spot-list li .pic{
	width: 1.2rem;
	height: 1.2rem;
	position: absolute;
	top: 0.1rem;
	left: 0;
	border-radius: 0.6rem;
	overflow: hidden;
	border: 0;
}

.spot-list li .pic img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.spot-list li .more{
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
	top: 0.5rem;
	right: 0;
	background-image: url(../img/more.png);
	background-position: center center;
	background-size: 0.21rem 0.4rem;
	background-repeat: no-repeat;
}

.spot-list li .name{
	line-height: 0.8rem;
	height: 0.8rem;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-size: 0.32rem;
	color: #333333;
}

.spot-list li .desc{
	line-height: 0.6rem;
	height: 0.6rem;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-size: 0.24rem;
	color: #666666;
}

/** detail */
.spot-detail{
	width: 100%;
}

.spot-detail .pic{width: 100%;font-size: 0;
	/*min-height:1rem;*/
}
.spot-detail .pic img{width: 100%;height: auto;}
.spot-detail .text{
	color: #666666;
}
.spot-detail .text .name{width: 100%;text-align: center;line-height: 0.8rem;border-bottom: 0.01rem solid #cccccc;font-size: 0.32rem;font-weight: 600;
	position: relative;
}
.spot-detail .text .desc{width: 100%;padding: 0.2rem;text-align: justify;line-height: 2;font-size: 0.28rem;}

.spot-detail .text .name .btn-fav{
	width: 0.4rem;
	height: 0.4rem;
	background-image: url('../img/fav.png');
	background-position: center center;
	background-size: 0.33rem 0.32rem;
	background-repeat: no-repeat;
	position: absolute;
	right: 0.9rem;
	top: 0.2rem;
}

.spot-detail .text .name .btn-fav.active{
	background-image: url('../img/fav_a.png');
}

.spot-detail .text .name .btn-share{
	width: 0.4rem;
	height: 0.4rem;
	background-image: url('../img/share.png');
	background-position: center center;
	background-size: 0.34rem 0.34rem;
	background-repeat: no-repeat;
	position: absolute;
	right: 0.2rem;
	top: 0.2rem;
}


.btn-audio{
	width: 1rem;
	height: 1rem;
	background-image: url('../img/spot/audio.png');
	background-position: center center;
	background-size: 0.98rem 0.98rem;
	background-repeat: no-repeat;
	position: fixed;
	right: 0.5rem;
	bottom: 0.5rem;
}