<!DOCTYPE html>
<html>
<head>
	<%- include ../common/meta.ejs %>
	<title>投诉服务</title>
	<link rel="stylesheet" type="text/css" href="css/complain.css">
</head>
<body>
	<input id="cid" type="hidden" value="<%= cid %>" >
	<div id="wrapper" class="container">
		<div class="complain-container">
			<textarea class="text" name="txt" placeholder="欢迎您提供的宝贵意见或建议，您留下的每一个字都能够帮助我们的完善服务。"></textarea>
			<div class="input-line">
				<label>手机号</label>
				<input id="phone" name="phone" placeholder="请输入您的手机号">
			</div>
			<div class="input-line code-line">
				<label>验证码</label>
				<input name="vcode" placeholder="请输入接收的验证码">
				<span class="btn-code">获取验证码</span>
			</div>
			<div class="btn-complain">提交</div>
		</div>
	</div>
	<script type="text/javascript" src='js/user-complain.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			moka.user.complain.init();
		});
	</script>
</body>
</html>