<!DOCTYPE html>
<html>
<head>
	<%- include ../common/meta.ejs %>
	<title>资讯列表</title>
	<link rel="stylesheet" type="text/css" href="css/fav.css">
</head>
<body>
	<div id="wrapper" class="container">
		<ul id="fav_list" class="fav-list"></ul>
	</div>
	<script type="text/juicer" id="fav_list_tpl">
		{@each list as obj, index}
		<li data-id="${obj.iid}">
			<span class="pic">
				<img src="${obj.pics}">
			</span>
			<div class="title">${obj.title}</div>
			<div class="loc">总价：${obj.kind}</div>
			<div class="date-time">${obj.start}</div>
		</li>
		{@/each}
	</script>
	<script type="text/javascript" src='js/fav-list.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			moka.fav.list.init();
		});
	</script>
</body>
</html>
