<!DOCTYPE html>
<html>
<head>
	<%- include ../common/meta.ejs %>
	<title>详情</title>
	<link rel="stylesheet" type="text/css" href="css/hotel.css">
</head>
<body>
	<input id="hotel_id" type="hidden" value="<%= id %>" >
	<div id="wrapper" class="container">
		<div id="hotel_detail" class="hotel-detail"></div>
	</div>
	<script type="text/juicer" id="hotel_tpl">
		<div class="pic">
			$${pics|getPic}
			<div class="msg">
				<span class="title">${title}</span>
				<span class="memo">${memo}</span>
			</div>
		</div>
		<div class="address">${address}<span class="more" style="display:none;"></span></div>
		<div class="content">$${content}</div>
	</script>
	<script type="text/javascript" src='js/hotel-detail.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			moka.hotel.detail.init();
		});
	</script>
</body>
</html>
