<!DOCTYPE html>
<html>
<head>
	<%- include ../common/meta.ejs %>
	<title>酒店餐饮</title>
	<link rel="stylesheet" type="text/css" href="css/hotel.css">
</head>
<body>
	<div id="wrapper" class="container">
		<div class="list-panel">
			<ul class="nav-panel">
				<li class="active" data-kind="1"><span>美食</span></li>
				<li data-kind="2"><span>住宿</span></li>
				<li data-kind="3"><span>购物</span></li>
				<li data-kind="4"><span>周边</span></li>
			</ul>
			<ul id="hotel_list" class="hotel-list"></ul>	
		</div>
	</div>
	<script type="text/juicer" id="hotel_list_tpl">
		{@each list as obj, index}
		<li data-id="${obj.hid}">
			<span class="pic">
				<img src="img/order/pics/dpsx.jpg">
			</span>
			<div class="name">${obj.title}</div>
			<div class="line">
				<span class="tel">电话：${obj.phone}</span>
				<span class="price">人均：<em class="red-hlight">￥${obj.price}/位</em></span>
			</div>
			<div class="line">
				<span class="address">地址：${obj.address}</span>
			</div>
			<div class="memo" style="display:none;">${obj.memo}</div>
		</li>
		{@/each}
	</script>
	<script type="text/javascript" src='js/hotel-list.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			moka.hotel.list.init();
		});
	</script>
</body>
</html>
