<!DOCTYPE html>
<html>
<head>
	<%- include ../common/meta.ejs %>
	<title>资讯详情</title>
	<link rel="stylesheet" type="text/css" href="css/info.css">
</head>
<body>
	<input id="info_id" type="hidden" value="<%= id %>" >
	<div id="wrapper" class="container">
		<div id="info_detail" class="info-detail"></div>
	</div>
	<script type="text/juicer" id="info_tpl">
		<div class="pic">$${pics|getPics}</div>
		<div class="text">
			<div class="name">
				<span>${title}</span>
				<span class="btn-fav"></span>
				<span class="btn-share"></span>
			</div>
			<div class="desc">${content}</div>
		</div>
	</script>
	<script type="text/javascript" src='js/info-detail.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			moka.info.detail.init();
		});
	</script>
</body>
</html>
