<!DOCTYPE html>
<html>
<head>
	<%- include ../common/meta.ejs %>
	<title>地图导航</title>
</head>
<body>
	<div id="wrapper" class="container">
		<div id="msg_panel" class="qunliao">
			<h3>16:53</h3>
		</div>
	</div>
	<script type="juicer/javascript" id="msg-tpl">
	<div class="media">
		
	</div>
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
		});
	</script>
</body>
</html>
