<!DOCTYPE html>
<html>
<head>
	<%- include ../common/meta.ejs %>
	<title>我的订单</title>
	<link rel="stylesheet" type="text/css" href="css/order.css">
</head>
<body>
	<input id="cid" type="hidden" value="<%= cid %>" >
	<div id="wrapper" class="container">
		<div class="list-panel">
			<ul class="nav-panel">
				<li class="active" data-status="0"><span>待使用</span></li>
				<li data-status="1"><span>已使用</span></li>
			</ul>
			<ul id="order_list" class="order-list"></ul>
		</div>
	</div>
	<script type="text/juicer" id="order_list_tpl">
		{@each list as obj, index}
		<li data-id="${obj.id}">
			<span class="pic">$${obj.spics|getPic}</span>
			<div class="name">${obj.tname}</div>
			<div class="price">总价：${obj.total}</div>
			<div class="date-time">${obj.ttime}</div>
			<span class="more">查看</span>
		</li>
		{@/each}
	</script>
	<script type="text/javascript" src='js/order-list.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			moka.order.list.init();
		});
	</script>
</body>
</html>
