<!DOCTYPE html>
<html>
<head>
	<%- include ../common/meta.ejs %>
	<title>资讯列表</title>
	<link rel="stylesheet" type="text/css" href="css/share.css">
</head>
<body>
	<input id="cid" type="hidden" value="<%= cid %>">
	<div id="wrapper" class="container">
		<ul id="share_list" class="share-list"></ul>
	</div>
	<script type="text/juicer" id="share_list_tpl">
		{@each list as obj, index}
		<li data-id="${obj.id}">
			<span class="pic">${pics|getPic}</span>
			<div class="title">${obj.title}</div>
			<div class="loc">${obj.source}</div>
			<div class="date-time">${obj.ftime|getDate}</div>
		</li>
		{@/each}
	</script>
	<script type="text/javascript" src='js/share-list.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			moka.share.list.init();
		});
	</script>
</body>
</html>
