<!DOCTYPE html>
<html>
<head>
	<%- include ../common/meta.ejs %>
	<title>景点列表</title>
	<link rel="stylesheet" type="text/css" href="css/spot.css">
</head>
<body>
	<div id="wrapper" class="container">
		<ul id="spot_list" class="spot-list"></ul>
	</div>
	<script type="text/juicer" id="spot_list_tpl">
		{@each list as obj, index}
		<li data-id="${obj.sid}">
			<span class="pic">
				<img src="${index|getImgHost}${obj.spics}">
			</span>
			<div class="name">${obj.title}</div>
			<div class="desc">${obj.memo}</div>
			<span class="more"></span>
		</li>
		{@/each}
	</script>
	<script type="text/javascript" src='js/spot-list.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			moka.spot.list.init();
		});
	</script>
</body>
</html>
