<!DOCTYPE html>
<html>
<head>
	<%- include ../common/meta.ejs %>
	<title>景点介绍</title>
	<link rel="stylesheet" type="text/css" href="css/spot.css">
</head>
<body>
	<div id="wrapper" class="container">
		<div class="spot-detail">
			<div class="pic"><img src="<%= pic %>"></div>
			<div class="text">
				<div class="name"><%= name %></div>
				<div class="desc"><%= description %></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src='js/spot-list.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			// moka.spot.list.init();
		});
	</script>
</body>
</html>
