<!DOCTYPE html>
<html>
<head>
	<%- include ../common/meta.ejs %>
	<title>景点介绍</title>
	<link rel="stylesheet" type="text/css" href="css/spot.css">
</head>
<body>
	<input id="cid" type="hidden" value="<%= cid %>">
	<input id="spot_id" type="hidden" value="<%= id %>" >
	<div id="wrapper" class="container">
		<div id="spot_detail" class="spot-detail"></div>
	</div>
	<!-- <img src="${pics|getImgHost}${pics}"> -->
	<script type="text/juicer" id="spot_tpl">
		<div class="pic">$${pics|getPics}</div>
		<div class="text">
			<div class="name">
				<span>${title}</span>
				<span class="btn-fav"></span>
				<span class="btn-share"></span>
			</div>
			<div class="desc">${content}</div>
		</div>
		{@if videos}
		<audio id="text_audio" src="${videos}" style="display:none;"></audio>
		<span class="btn-audio" ></span>
		{@/if}
	</script>
	<script type="text/javascript" src='js/spot-detail.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			moka.spot.detail.init();
		});
	</script>
</body>
</html>
